/*
 ** 页头
 */

@header-height: 140px;
@header-bg-color: #001e3c;

.header {
  //width: 100%;
  height: @header-height;
  background-color: @header-bg-color;
}

.banner {
  height: 400px;
  background-color: #777;
}

/*
 ** 页脚
 */

@footer-height: 200px;
@footer-bg-color: #001e3c;

.footer {
  height: @footer-height;
  background-color: @footer-bg-color;
}