/**
 * 方块链接
 */
.link-square {
  display: block;
  width: 100px;
  height: 100px;
  position: relative;
  text-align: center;
  color: #fff;
  background-color: #0072e4;
}
.link-square:hover .link-square_icon {
  font-size: 2.5em;
  opacity: 1;
}
.link-square:hover .link-square_desc {
  font-size: 1.15em;
  opacity: 1;
}
.link-square_icon {
  position: absolute;
  left: 0;
  bottom: 42px;
  width: 100%;
  opacity: 0.8;
}
.link-square_desc {
  position: absolute;
  width: 100%;
  margin: 0;
  bottom: 16px;
  text-align: center;
  opacity: 0.75;
}
/**
 * 特色方块链接
 */
.link-square-featured {
  display: block;
  width: 100px;
  height: 100px;
  position: relative;
  overflow: hidden;
}
.link-square-featured .before,
.link-square-featured .after {
  width: 100%;
  height: 100px;
  position: absolute;
  top: 0;
  text-align: center;
  line-height: 100px;
  vertical-align: baseline;
  -webkit-transition: top 0.5s;
  -moz-transition: top 0.5s;
  -ms-transition: top 0.5s;
  -o-transition: top 0.5s;
  transition: top 0.5s;
}
.link-square-featured .before {
  font-size: 20px;
  color: #fff;
  z-index: 1;
}
.link-square-featured .after {
  padding-top: 300px;
  background: linear-gradient(#00aeef 100px, #fff 300px);
  color: #00aeef;
}
.link-square-featured:hover .before {
  top: -100px;
}
.link-square-featured:hover .after {
  top: -300px;
}
.link-square-featured .fa {
  margin-top: 25%;
}
.link-square-featured.green .after {
  background: linear-gradient(#2ea254 100px, #fff 300px);
  color: #2ea254;
}
/**
 * 带图片链接
 */
.link-img {
  position: relative;
  display: block;
  width: 250px;
  height: 300px;
}
.link-img:hover .link-img_img-wrap {
  display: none;
}
.link-img:hover .link-img_text {
  height: 100%;
}
.link-img_img-wrap {
  width: 100%;
  height: 150px;
  background-color: #ccc;
}
.link-img_img {
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: cover;
}
.link-img_text {
  width: 100%;
  height: 150px;
  color: #fff;
  background-color: #999;
}
.link-img_title {
  line-height: 1.5;
  text-align: center;
  margin: 0;
}
.link-img_desc {
  margin: 0;
  padding: 8px;
  overflow: hidden;
}
/**
 * 按钮
 */
.btn {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: inline-block;
  padding: 8px 0;
  width: 200px;
  height: 36px;
  font-size: 16px;
  color: #fff;
  background-color: #00aeef;
  border: 2px solid transparent;
  border-radius: 2px;
  box-shadow: 0 3px 0 0 rgba(0, 0, 0, 0.5);
  line-height: 16px;
  vertical-align: middle;
  text-align: center;
  text-decoration: none;
  outline: 0;
  cursor: pointer;
}
.btn:hover {
  background-color: #0084c2;
}
.btn-no-shadow {
  box-shadow: none;
}
.btn-no-radius {
  border-radius: 0;
}
.btn-green {
  background-color: #2ea254;
}
.btn-green:hover {
  background-color: #247f47;
}
/**
  * 导航栏
  */
.navbar {
  float: left;
  margin: 0;
  padding: 0;
}
.navbar > li {
  float: left;
  padding: 0 10px;
}
.navbar > li > a {
  line-height: 40px;
  display: block;
  text-align: center;
  width: 100%;
  text-decoration: none;
}
/**
  * 搜索条
  */
.searchbar {
  width: 260px;
  height: 36px;
  font-size: 0;
}
.searchbar_input {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 200px;
  padding: 10px;
  height: 100%;
  border: 0;
  font-size: 16px;
}
.searchbar_btn {
  width: 60px;
  height: 100%;
  padding: 0;
  border: 0;
  color: #fff;
  background-color: #00aeef;
  font-size: 16px;
}
.searchbar_btn:hover {
  background-color: #0084c2;
}
/**
 * 字体和背景色
 */
.c-w {
  color: #fff;
}
.c-b {
  color: #000;
}
.bg-blue {
  background-color: #0072e4;
}
.bg-red {
  background-color: #d53947;
}
.bg-orange {
  background-color: #eb5d24;
}
.bg-purple {
  background-color: #5f588a;
}
.bg-green {
  background-color: #2ea254;
}
.bg-amaranth {
  background-color: #b5044e;
}
.bg-light-grey {
  background-color: #dee2e4;
}
.bg-grey {
  background-color: #abaaaa;
}
.bg-dark-grey {
  background-color: #6c6c6c;
}
