doctype html
head
  title 组件
  meta(charset="utf-8")
  link(rel="stylesheet" type="text/css" href="css/base.css")
  link(rel="stylesheet" type="text/css" href="css/theme.css")
  link(rel="stylesheet" type="text/css" href="css/components.css")
  link(rel="stylesheet" type="text/css" href="css/font-awesome.css")
body
  section.link-imgs.mt2.clearfix
    a.link-img
      .link-img_img-wrap
        .link-img_img(style="background-image:url('images/test-1.jpg');")
      .link-img_text
        h3.link-img_title 新闻标题标题标题标题标题
        p.link-img_desc 新闻描述描述描述描述描述描述描述描述描述描述述描述描述描述描述描述述描述描述描述描述描述述描述描述描述描述描述述描述描述描述描述描述
  section.btns.mt2.clearfix
    button.btn 按钮
    a.btn(href ="#") 我是按钮
    input.btn(type="button" value="我也是按钮")
    button.btn.btn-shadow 我有阴影
    button.btn.btn-no-radius 我没有圆角
    button.btn.btn-no-radius.btn-shadow 我没有圆角但有阴影
    a.link-rect(href ="#") 出国留学帮

  section.link-squares.mt2.clearfix
    a.link-square.bg-red
      i.fa.fa-trophy.fa-2x.link-square_icon
      h4.link-square_desc 挑战杯
    a.link-square.bg-orange
      i.fa.fa-laptop.fa-2x.link-square_icon
      h4.link-square_desc 大创
    a.link-square.bg-purple
      i.fa.fa-cubes.fa-2x.link-square_icon
      h4.link-square_desc 社会实践
    a.link-square.bg-green
      i.fa.fa-heart.fa-2x.link-square_icon
      h4.link-square_desc 公益志愿
    a.link-square
      i.fa.fa-search.fa-2x.link-square_icon
      h4.link-square_desc 学术科技

  section.clearfix
    ul.navbar
      li
        a 首页
      li
        a 团委介绍
      li
        a 团内档案
      li
        a 活动专题
      li
        a 组织介绍
      li
        a 社团风采
  section.clearfix
    form.searchbar
      input.searchbar_input(type="text" placeholder="关键词")
      input.searchbar_btn(type="submit" value="搜索")
  section.clearfix
    a.link-square-featured
      .before 大创
      .after
        i.fa.fa-laptop.fa-3x
    a.link-square-featured.green
      .before 挑战杯
      .after
        i.fa.fa-bug.fa-3x
  section.clearfix.sec-arrow
    button.arrow
    button.arrow.right
  footer.footer


