footer.footer.clearfix.c-w#green-channel
    .bg-layer
    .container
        .row
            section.x-12.s-5.m-3.l-3.useful-links
                h3 友情链接
                ul
                    li
                        a(href="#") 四川大学
                    li
                        a(href="#") 教务处
                    li
                        a(href="#") 学工部
                    li
                        a(href="#") 国际合作与交流处
                    li
                        a(href="#") 青年之声
                    li
                        a(href="#") Myouth
            section.x-12.s-7.m-6.l-6.contact-us
                h3 联系我们
                ul
                    li
                        span 共青团四川大学委员会邮箱
                        em scutw@163.com
                    li
                        span 新闻投稿邮箱
                        em scutwnews@qq.com
                    li
                        span 办公室,对外联络,科技创新,就业创业事宜
                        em 85401222
                    li
                        span 组织部,学生会,青年志愿,社会实践事宜
                        em 85407980
                    li
                        span 宣传部,文化艺术,团委公选课事宜
                        em 85406812
                    li
                        span 学生社团事宜
                        em 85998669
            section.x-12.s-12.m-3.l-3.qr-code
                h3 二维码
                img(src="images/qr-code.png").img-qrcode.op7
                p.qrcode-desc.op7 川大共青团