doctype html
head
  title 首页
  meta(charset="utf-8")
  link(rel="stylesheet" type="text/css" href="css/base.css")
  link(rel="stylesheet" type="text/css" href="css/theme.css")
  link(rel="stylesheet" type="text/css" href="css/index.css")
  link(rel="stylesheet" type="text/css" href="css/font-awesome.css")
  <!--[if lt IE 9]>
  script(src="js/html5shiv.min.js")
  script(src="js/respond.min.js")
  <![endif]-->
body
  .header-bg
  a.return-top#return-top(href="#header")
  header.header#header
    .bg-layer
    form.searchbar
      input.searchbar_input(type="text" placeholder="keyword")
      input.searchbar_btn(type="submit" value="搜索")
    .header-text
      p.welcome.op8.f-rw.fl WELCOME TO
      h1.title 青春川大
      .desc.mt1.op8
        p
          span 感受青春律动
          span.ml2 释放青春活力
        p —— 触手可及的川大共青团
    nav.nav.clearfix.c-w.tc
      ul.navbar.mauto.op8#navbar
        li
          a.link-spec(href='#special') 专题
        li
          a.link-news(href='#news') 新闻
        li
          a.link-nt(href='#notice') 公告
        li
          a.link-yl(href='#youth-league') 川大团委
        li
          a.link-sg(href='#student-ground') 学生园地
        li
          a.link-gc(href='#green-channel') 绿色通道
  section.special.clearfix#special
    h2.title.f8.c-grey-2.tc 专题
      span.c-grey-4.fl.ml1.f-rw.fl SPECIAL
    p.title-desc 点面结合 板块互联 扬帆新航
    .divider
    .container
      .row
        .links.tc.clearfix
          a.link-square.lighter
            i.fa.fa-trophy.fa-2x.link-square_icon
            h4.link-square_desc 挑战杯
          a.link-square.light
            i.fa.fa-laptop.fa-2x.link-square_icon
            h4.link-square_desc 大创
          a.link-square
            i.fa.fa-globe.fa-2x.link-square_icon
            h4.link-square_desc 社会实践
          a.link-square.dark
            i.fa.fa-heart.fa-2x.link-square_icon
            h4.link-square_desc 公益志愿
          a.link-square.darker
            i.fa.fa-search.fa-2x.link-square_icon
            h4.link-square_desc 学术科技
  section.news.clearfix.bg-grey-1#news
    h2.title.f8.c-grey-2.tc 新闻
      span.c-grey-4.fl.ml1.f-rw NEWS
    p.title-desc 最热资讯汇聚最燃青春正能量
    .divider
    .container
      .news-list-wrap.pr#news-list-wrap
        .news-list#news-list(style="left:0")
          .news-wrap
            a.link-img
              .link-img_img-wrap
                .link-img_img(style="background-image:url('images/index-bg-1.jpg');")
              .link-img_text
                h3.link-img_title 校团委成功举办“两学一做”专题学习会
                p.link-img_desc 11月2日，校团委在行政楼105举办“两学一做”专题学习会。校团委全体成员参加。
          .news-wrap
            a.link-img
              .link-img_img-wrap
                .link-img_img(style="background-image:url('images/index-bg-2.jpg');")
              .link-img_text
                h3.link-img_title “秋之韵”德国慕尼黑工业大学交响乐团音乐会悦动江安
                p.link-img_desc 11月4日晚，“秋之韵”德国慕尼黑工业大学交响乐团音乐会登陆江安校区，给川大师生带来一场听觉的盛宴。
          .news-wrap
            a.link-img
              .link-img_img-wrap
                .link-img_img(style="background-image:url('images/index-bg-3.jpg');")
              .link-img_text
                h3.link-img_title 挑战杯国赛终审决赛赛前培训会成功举办
                p.link-img_desc 11月4日，校科协成功举办挑战杯国赛终审决赛赛前培训会。我校进入国赛决赛的4支团队参与培训会。
          .news-wrap
            a.link-img
              .link-img_img-wrap
                .link-img_img(style="background-image:url('images/index-bg-4.jpg');")
              .link-img_text
                h3.link-img_title 四川大学120周年校庆志愿者总结表彰大会成功举行
                p.link-img_desc 11月3日，四川大学120周年校庆志愿者总结表彰大会在文华活动中心音乐厅成功举行。校党委副书记李向成、校长助理、学工部部长郭勇参加大会。大会由校团委书记徐海鑫主持。
          .news-wrap
            a.link-img
              .link-img_img-wrap
                .link-img_img(style="background-image:url('images/index-bg-5.jpg');")
              .link-img_text
                h3.link-img_title 校团委成功举办“两学一做”专题学习会
                p.link-img_desc 11月2日，校团委在行政楼105举办“两学一做”专题学习会。校团委全体成员参加。
          .news-wrap
            a.link-img
              .link-img_img-wrap
                .link-img_img(style="background-image:url('images/index-bg-6.jpg');")
              .link-img_text
                h3.link-img_title “秋之韵”德国慕尼黑工业大学交响乐团音乐会悦动江安
                p.link-img_desc 11月4日晚，“秋之韵”德国慕尼黑工业大学交响乐团音乐会登陆江安校区，给川大师生带来一场听觉的盛宴。
          .news-wrap
            a.link-img
              .link-img_img-wrap
                .link-img_img(style="background-image:url('images/index-bg-7.jpg');")
              .link-img_text
                h3.link-img_title 挑战杯国赛终审决赛赛前培训会成功举办
                p.link-img_desc 11月4日，校科协成功举办挑战杯国赛终审决赛赛前培训会。我校进入国赛决赛的4支团队参与培训会。
          .news-wrap
            a.link-img
              .link-img_img-wrap
                .link-img_img(style="background-image:url('images/index-bg-8.jpg');")
              .link-img_text
                h3.link-img_title 四川大学120周年校庆志愿者总结表彰大会成功举行
                p.link-img_desc 11月3日，四川大学120周年校庆志愿者总结表彰大会在文华活动中心音乐厅成功举行。校党委副书记李向成、校长助理、学工部部长郭勇参加大会。大会由校团委书记徐海鑫主持。
  section.notice.clearfix#notice
    h2.title.f8.c-grey-2.tc 公告
      span.c-grey-4.fl.ml1.f-rw NOTICE
    p.title-desc 引领青年发展 助力青年成长
    .divider
    .container
      .row
        .l-5.m-5.s-6.x-8.l-offset-1.m-offset-1.s-offset-0.x-offset-2
          ul.notice-list
            li
              a 关于在四川大学各级团组织和广大团员青年中学习宣传贯彻共产党的群团工作精神的通知
            li
              a 关于开展学习习近平总总书记在庆祝中国共产党成立95周年大会上的重要讲话专题团组织生
            li
              a 关于组织开展"挑战杯"四川大学2016年大学生课外学术科技作品竞赛和首批立项申报的通知
            li
              a 关于开展2016年暑期社会实践活动之"甘庆川交界地区优惠政策落实情况"调研活动通知
        .l-5.m-5.s-6.x-8.l-offset-0.m-offset-0.s-offset-0.x-offset-2
          ul.notice-list
            li
              a 关于组织开展2016年度四川大学青年研究课题的通知
            li
              a 关于招募2016年四川大学迎新晚会暨十佳学生会表彰大会导演组成员的通知
            li
              a 关于深入学习贯彻党的是八届六中全会精神的通知
            li
              a 关于组织开展“挑战杯”四川大学2016年学生科技节之第三届“墨香古韵”国学知识竞赛的通知
    .mt3.tc
      a.btn.mauto 更多公告
  section.youth-league.pt5.clearfix#youth-league
    h2.title.f8.tc 川大团委
      span.op5.fl.ml1.f-rw ABOUT US
    p.title-desc 触手可及的川大共青团
    button.arrow.left#yl-left
    button.arrow.right#yl-right
    .intro-list#intro-list(style="left:0;")
      .intro-wrap.blue
        .container
          .row
            section.l-8.m-10.s-12.x-12.l-offset-2.m-offset-1.s-offset-0.x-offset-0
              h3.f5.tc.group-name 团委秘书处
              p.tc.group-intro 团委秘书处是校团委重要职能部门，负责校团委日常工作的开展，主要负责校团委办公室事务、
              p.tc.group-intro 相关会议组织和财务工作等，是校团委的“大管家”。下设综合事务中心、信息管理中心、
              p.tc.group-intro 交流活动中心和青年服务与发展中心。
      .intro-wrap.green
        .container
          .row
            section.l-8.m-10.s-12.x-12.l-offset-2.m-offset-1.s-offset-0.x-offset-0
              h3.f5.tc.group-name 学生会
              p.tc.group-intro 四川大学学生会是川大本科学生自治组织，是成都市学生联合会主席单位。四川大学学生会致力于通过
              p.tc.group-intro 各类型活动，全面服务川大同学，助力同学成长进步。下设办公室、宣传部、学术科技部、
              p.tc.group-intro 文体部、外联部、学习部、权益部、素质拓展中心、公关礼仪部和女生部等
              p.tc.group-intro 二级部门，同时分管四川大学学生电视台等的工作。
      .intro-wrap.red
        .container
          .row
            section.l-8.m-10.s-12.x-12.l-offset-2.m-offset-1.s-offset-0.x-offset-0
              h3.f5.tc.group-name 团委组织部
              p.tc.group-intro 团委组织部是校团委重要职能部门，负责全校基层团建和团干培养工作。下设综合中心、
              p.tc.group-intro 骨干培养中心、组织建设中心、基层工作中心、宣传中心
              p.tc.group-intro 和“青马工程”专项办公室六大部门。
      .intro-wrap.blue
        .container
          .row
            section.l-8.m-10.s-12.x-12.l-offset-2.m-offset-1.s-offset-0.x-offset-0
              h3.f5.tc.group-name 团委宣传部
              p.tc.group-intro 团委宣传部是校团委重要职能部门，肩负着引领学生思潮，助力学生成长的重任，负责全校团学系统
              p.tc.group-intro 的宣传和全校青年的舆论引导工作。下设办公室、新媒体中心、网络部、创意设计部、企划部、
              p.tc.group-intro 《川大人》报社、《川大共青团》杂志社和校园广播站等二级部门。
      .intro-wrap.green
        .container
          .row
            section.l-8.m-10.s-12.x-12.l-offset-2.m-offset-1.s-offset-0.x-offset-0
              h3.f5.tc.group-name 团委文化艺术部
              p.tc.group-intro 团委文化艺术部是校团委重要职能部门，负责组织开展校园内大型学生文化艺术活动，
              p.tc.group-intro 如凤舞川大、凤鸣川大等在全校内影响力大、知名度高的品牌活动，
              p.tc.group-intro 是校园文化艺术活动主阵地。
      .intro-wrap.red
        .container
          .row
            section.l-8.m-10.s-12.x-12.l-offset-2.m-offset-1.s-offset-0.x-offset-0
              h3.f5.tc.group-name 团委创业就业促进部
              p.tc.group-intro 团委创业就业促进部是校团委重要职能部门，旨在提升学生创新创业能力和促进学生就业。
      .intro-wrap.blue
        .container
          .row
            section.l-8.m-10.s-12.x-12.l-offset-2.m-offset-1.s-offset-0.x-offset-0
              h3.f5.tc.group-name 科协
              p.tc.group-intro 四川大学学生学术科技协会是川大全校性质的学生学术科技联合组织，负责组织开展校内大型学术
              p.tc.group-intro 科技竞赛和配合组织省级、国家级和国际级大赛在四川大学的开展工作。
      .intro-wrap.green
        .container
          .row
            section.l-8.m-10.s-12.x-12.l-offset-2.m-offset-1.s-offset-0.x-offset-0
              h3.f5.tc.group-name 青志
              p.tc.group-intro 四川大学青年志愿者协会前为四川大学青年志愿者总队，始创于上世纪90年代，秉承志愿服务精神，
              p.tc.group-intro 开展各类型、各层次青年志愿服务，展现川大学子的社会责任感和奉献心。
      .intro-wrap.red
        .container
          .row
            section.l-8.m-10.s-12.x-12.l-offset-2.m-offset-1.s-offset-0.x-offset-0
              h3.f5.tc.group-name 社团联
              p.tc.group-intro 四川大学学生社团联合会，简称校社团联，是全校600余学生社团的综合管理和服务组织，负责对
              p.tc.group-intro 包括学术性、文体型、实践型等在内的八大类学生社团进行监督、考核和服务。
      .intro-wrap.blue
        .container
          .row
            section.l-8.m-10.s-12.x-12.l-offset-2.m-offset-1.s-offset-0.x-offset-0
              h3.f5.tc.group-name 川大青年研究中心
              p.tc.group-intro 川大共青团青年研究中心是全校性的青年研究中心，引导学生思潮，探究学生思想。
  section.student-ground#student-ground
    h2.title.f8.c-grey-2.tc 学生园地
      span.c-grey-4.fl.ml1.f-rw STUDENT
    p.title-desc 感知最在地青春川大
    .divider
    .container
      .row
        .l-6.m-6.s-6.x-10.l-offset-1.m-offset-1.s-offset-0.x-offset-1
          .notice-wrap.clearfix
            ul.notice-list
              li
                a
                  h3.title 华西药学院第22届分团委学生会表彰大会
                  p.info 6月3日下午3点法学院报告厅
              li
                a
                  h3.title 第十四届"半夏的纪念"北京(国际)大学生影像展四川大学站
                  p.info 6月3日下午3点法学院报告厅
              li
                a
                  h3.title 第十四届"半夏的纪念"北京(国际)大学生影像展四川大学站宣传活动
                  p.info 6月3日下午3点法学院报告厅
              li
                a
                  h3.title 文学与新闻学院艺术型社团王炎龙教授茶座
                  p.info 2016年5月30日15时50分 第一教学楼A座
        .l-4.m-4.s-6.x-12
          ul.category-list
            li.pb2
              a.link-rect.warn 实习兼职帮
            li.pb2
              a.link-rect 出国留学帮
            li
              a.link-rect.action 创新创业帮
      .tc
        .a.btn(href="#") 更多

  footer.footer.clearfix.c-w#green-channel
    .bg-layer
    .container
      .row
        section.x-12.s-5.m-3.l-3.useful-links
          h3 友情链接
          ul
            li
              a(href="#") 四川大学
            li
              a(href="#") 教务处
            li
              a(href="#") 学工部
            li
              a(href="#") 国际合作与交流处
            li
              a(href="#") 青年之声
            li
              a(href="#") Myouth
        section.x-12.s-7.m-6.l-6.contact-us
          h3 联系我们
          ul.op7
            li
              span 共青团四川大学委员会邮箱
              em scutw@163.com
            li
              span 新闻投稿邮箱
              em scutwnews@qq.com
            li
              span 办公室,对外联络,科技创新,就业创业事宜
              em 85401222
            li
              span 组织部,学生会,青年志愿,社会实践事宜
              em 85407980
            li
              span 宣传部,文化艺术,团委公选课事宜
              em 85406812
            li
              span 学生社团事宜
              em 85998669
        section.x-12.s-12.m-3.l-3.qr-code
          h3 二维码
          img(src="images/qr-code.png").img-qrcode.op7
          p.qrcode-desc.op7 川大共青团
  script(type="text/javascript" src="js/melon.js")
  script(type="text/javascript" src="js/index.js")

